<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head head.defaults}}
</head>
<body class="page" style="visibility: hidden;opacity: 0;">
    %=symbols=%
    {{> header/header}}

    <div class="first">
        <div class="wrapper">
            <div class="first__container">
                <div class="first__left ">
                    <div class="first__title wow fadeIn" data-wow-delay="0.5s">
                    <span>Best</span> solutions in services <br> of <span>glass processing</span> in Europe

                    </div>
                    <div class="first__desc wow fadeIn" data-wow-delay="0.8s">
                    Leading factories network of innovative glass processing. We have been completed more than 20.000 successful projects since 2003. We manage Russian glass factory and partnership Estonian glass factory realizing B2B projects of glass solutions.</tspan>

                    </div>
                    <a href="#" class="m-button wow fadeIn" data-wow-delay="1.1s">
                    Contact us
                    </a>
                    <a href="" class="first__link scrolltop header-tab " data-id="prod">
                    Explore more
                    </a>
                </div>
            </div>
        </div>
        <div class="first__right m-bg-cont">
            <img src='static/img/content/first.jpg'>
        </div>
    </div>

    <div class="prod">
        <div class="prod__container tabs">
            <div class="wrapper">
                <div class="prod__top">
                    <div class="main-title  wow fadeInLeft">
                        Professional <a href="tab1" class="active tab ">services</a> and <a href="tab2" class="tab before-first">products</a> <br> of industrial glass processing
                    </div>

                    <div class="prod__links tabs-container">
                        <a href="tab1" class="tab  tab-1 prod-tab">Services</a>
                        <div class="prod__icon ">
                            <img src='static/img/content/prod-arrow.png'>
                        </div>
                        <a href="tab2" class="tab tab-2 active prod-tab">Products</a>
                    </div>
                </div>
            </div>
            <div class="prod__content-container cont-tab tab2">
                <div class="prod__content">
                    <div class="prod__img m-bg-cont">
                        <img src='static/img/content/prod-left.jpg'>
                    </div>
                    <div class="wrapper">
                        <div class="prod__left fadeInLeft wow cont-tab tab2">
                            <p class="prod__desc tab-desc-2 tab-height">
                                Using the full range of glass processing services, we offer a wide assortment of end glass products and various glass constructions for home, office, business\trade centers and many other places.
                            </p>
                            <p class="prod__desc tab-desc-2 tab-height">
                                We work for B2B market segment, making glass for customer's project, who then applies necessary accessories and assembles constructions. We mainly offer individual solutions and sizes but we also produce a line of serial mirrors available at DIY networks.
                            </p>
                        </div>
                        <div class="prod__items fadeInRight wow">
                            <a href="#" class="prod__item">
                                <div class="prod__item-img">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-item-1.png'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Glass Paritions
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-10.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Glass Doors
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-11.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Insulted Glass Units
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-12.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Glass Railings <br> and Glass Fences
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-13.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Glass Stairs <br> and Glass Steps
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-14.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Glass Wall Panels
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-15.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Glass Facades <br> (Fronts)
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-6.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Mirrors
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="prod__content-container cont-tab tab1 active">
                <div class="prod__content">
                    <div class="prod__img m-bg-cont">
                        <img src='static/img/content/prod-left.jpg'>
                    </div>
                    <div class="wrapper">
                        <div class="prod__left fadeInLeft wow cont-tab tab1 active">
                            <div class="prod__desc tab-desc-1">
                                    We provide a full range of glass services available on the world market. We have fully modernized European equipment for projects of any complexity.
                                </div>

                            <div class="prod__desc tab-desc-1">
                                    Our effective production planning system and double quality control system allows us to fulfill your orders quickly and at the highest level.                            </div>
                        </div>
                        <div class="prod__items fadeInRight wow">
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-item.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Glass Hardering
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-2.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Glass Cutting
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-4.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Drilling and Countersinking
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-5.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Fire-resistant Glass
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-6.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Ceramic Photoprint
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-7.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Glass Painting
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-8.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Laminated Glass (Triplex)
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="prod__item">
                                <div class="prod__item-img ">
                                    <div class="prod__item-img-content m-bg-cont">
                                        <img src='static/img/content/prod-img-9.jpg'>
                                    </div>
                                </div>
                                <div class="prod__item-content">
                                    <div class="prod__item-title">
                                          Smart Glass
                                    </div>
                                    <div class="prod__item-bottom">
                                        <div class="prod__item-icon">
                                            <img src='static/img/content/prod-content-icon.png'>
                                        </div>
                                        <div class="prod__item-line">
                                            
                                        </div>
                                        <div class="prod__item-text">
                                            Choose
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="coop">
        <div class="coop__bg m-bg-cont">
            <img src='static/img/content/coop-bg.png'>
        </div>
        <div class="wrapper">

            <div class="coop__container">
                <div class="main-title wow fadeInLeft">
                    <span>Cooperation</span> with <br> DomGlass
                </div>
                <div class="coop__desc wow fadeInLeft" data-wow-delay="0.2s">
                      Glass factory invites for cooperation:
                </div>

                <div class="coop__items mb75">
                    <div class="coop__item wow fadeIn" data-wow-delay="0.2s">
                        <div class="coop__img">
                            <img src='static/img/content/coop-1.png'>
                        </div>
                        <div class="coop__item-desc">
                            Companies that install <br> glass structures
                              
                        </div>
                    </div>
                    <div class="coop__item wow fadeIn" data-wow-delay="0.4s">
                        <div class="coop__img">
                            <img src='static/img/content/coop-2.png'>
                        </div>
                        <div class="coop__item-desc">
                              Architects and <br> designers
                              
                        </div>
                    </div>
                    <div class="coop__item wow fadeIn" data-wow-delay="0.6s">
                        <div class="coop__img">
                            <img src='static/img/content/coop-3.png'>
                        </div>
                        <div class="coop__item-desc">
                              Construction and <br> fit-out companies
                        </div>
                    </div>
                    <div class="coop__item wow fadeIn" data-wow-delay="0.8s">
                        <div class="coop__img">
                            <img src='static/img/content/coop-4.png'>
                        </div>
                        <div class="coop__item-desc">
                            Furniture <br>
                            manufacturers
                        </div>
                    </div>
                </div>
                <div class="coop__desc coop__desc-1 wow fadeInLeft" data-wow-delay="0.2s">
                    It is convenient for you to work with us:
                </div>
                <div class="coop__items">
                    <div class="coop__item wow fadeIn" data-wow-delay="0.2s">
                        <div class="coop__img">
                            <img src='static/img/content/coop-5.png'>
                        </div>
                        <div class="coop__item-desc">
                            Competent consultation and <br> quick  calculation processing
                              
                        </div>
                    </div>
                    <div class="coop__item wow fadeIn" data-wow-delay="0.4s">
                        <div class="coop__img">
                            <img src='static/img/content/coop-6.png'>
                        </div>
                        <div class="coop__item-desc">
                            You will receive your order <br>
                            at necessary time and place
                                                          
                        </div>
                    </div>
                    <div class="coop__item wow fadeIn" data-wow-delay="0.6s">
                        <div class="coop__img">
                            <img src='static/img/content/coop-7.png'>
                        </div>
                        <div class="coop__item-desc">
                            Individual terms <br>
                            of cooperation
                                                          
                        </div>
                    </div>
                    <div class="coop__item wow fadeIn" data-wow-delay="0.8s">
                        <div class="coop__img">
                            <img src='static/img/content/coop-8.png'>
                        </div>
                        <div class="coop__item-desc">
                            Established logistics system <br>
                            in Europe and worldwide
                                                          
                        </div>
                    </div>
                </div>
                <a href="#contacts" class="scrolltop-form m-button">
                    Become a Partner
                </a>
            </div>
        </div>
    </div>

    <div class="exp">
        <div class="exp__bg m-bg-cont">
            <img src='static/img/content/exp-bg.png'>
        </div>
        <div class="wrapper">
            <div class="exp__container">
                <div class="main-title  wow fadeInLeft">
                    Our <span>Partnership </span> <br> experience
                </div>      
                

                <div class="exp__content">
                    <div class="exp__row">
                        <div class="exp__desc wow fadeInLeft">
                            We are careful in choosing right partners. We work with world famous manufacturers of float glass.  We always <br> keep a minimum stock of the main  types of glass or we <br> will purchase all necessary raw materials for your project.
                        </div>
                        <div class="exp__imgs-container wow fadeInRight">
                            <div class="exp__button exp__button-prev exp-prev1">
                                {{Icon iconName="arrow-lef-prod"}}
                            </div>
                            <div class="exp__button exp__button-next exp-next1">
                                {{Icon iconName="arrow-lef-prod"}}
                            </div>
                            <div class="exp__imgs  exp-slider-1">
                                
                                <div class="swiper-wrapper">
                                    <div class="exp__imgs-item swiper-slide">
                                        <img src='static/img/content/exp-1.png'>
                                    </div>
                                    <div class="exp__imgs-item  swiper-slide">
                                        <img src='static/img/content/exp-2.png'>
                                    </div>
                                    <div class="exp__imgs-item  swiper-slide">
                                        <img src='static/img/content/exp-3.png'>
                                    </div>
                                    <div class="exp__imgs-item  swiper-slide">
                                        <img src='static/img/content/exp-3.png'>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="exp__row">
                        <div class="exp__desc wow fadeInLeft">
                            We have a developed partnership network of distributors <br>
                            and an established sales chain of glass products. We work<br>
                            all over Europe and are constantly looking for new partners.<br>
                            We always offer individual terms of cooperation.<br>
                        </div>
                        <div class="exp__slider-container wow fadeInRight">
                            <div class="exp__button exp__button-prev exp-prev">
                                {{Icon iconName="arrow-lef-prod"}}
                            </div>
                            <div class="exp__button exp__button-next exp-next">
                                {{Icon iconName="arrow-lef-prod"}}
                            </div>
                            <div class="exp-slider exp__slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src='static/img/content/exp-4.png'>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src='static/img/content/exp-5.png'>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src='static/img/content/exp-6.png'>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src='static/img/content/exp-4.png'>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src='static/img/content/exp-5.png'>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src='static/img/content/exp-6.png'>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src='static/img/content/exp-4.png'>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src='static/img/content/exp-5.png'>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src='static/img/content/exp-6.png'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exp__right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dom">
        <div class="dom__bg m-bg-cont">
            <img src='static/img/content/dom-bg.png'>
        </div>
        <div class="wrapper">
            <div class="dom__container">
                <div class="main-title  wow fadeInLeft">
                    <span>Why</span> DomGlass?    
                </div>

                <div class="dom__items">
                    <div class="dom__item wow fadeIn " data-wow-delay="0.3s">
                        <div class="dom__item-line">
                            <img src='static/img/content/dom-line.png'>
                        </div>
                        <div class="dom__item-img">
                            <img src='static/img/content/dom-1.png'>    
                        </div>
                        We offer various glass products in any individual sizes and full range of processing services with glass thickness from 4mm to 19mm and with any necessary types of glass.
                    </div>
                    <div class="dom__item wow fadeIn " data-wow-delay="0.6s">
                        <div class="dom__item-line">
                            <img src='static/img/content/dom-line.png'>
                        </div>
                        <div class="dom__item-img">
                            <img src='static/img/content/dom-2.png'>    
                        </div>
                        We own necessary Russian and European certificates confirming the quality of products and allowing to perform certain types of work for customers. We guarantee the best quality of your future order.
                    </div>
                    <div class="dom__item wow fadeIn " data-wow-delay="0.9s">
                        <div class="dom__item-line">
                            <img src='static/img/content/dom-line.png'>
                        </div>
                        <div class="dom__item-img">
                            <img src='static/img/content/dom-3.png'>    
                        </div>
                        We use various unique technologies of processing and decoration and always expand its application spheres, processing up to 3000 m2 of glass every day.
                    </div>
                    <div class="dom__item wow fadeIn " data-wow-delay="1.2s">
                        <div class="dom__item-line">
                            <img src='static/img/content/dom-line.png'>
                        </div>
                        <div class="dom__item-img">
                            <img src='static/img/content/dom-4.png'>    
                        </div>
                        While working with a project, you will have a personal manager who will provide you with quick calculations, necessary documents and regular live communication
                    </div>
                </div>

                <div class="dom__bottoms">
                    <div class=" dom__bottom-left dom__bottom fadeInLeft wow" data-wow-delay="0.3s">
                        <div class="dom__bottom-img">
                            <img src='static/img/content/dom-bottom-1.png'>
                        </div>
                        <div class="dom__bottom-text">
                            <span>8000 m<sup>2</sup> </span>
                            production in Russia
                        </div>
                    </div>
                    <div class="dom__bottom fadeInLeft wow" data-wow-delay="0.6s">
                        <div class="dom__bottom-img">
                            <img src='static/img/content/dom-bottom-7.png'>
                        </div>
                        <div class="dom__bottom-text">
                            17 years <br>
                            of experience
                        </div>
                    </div>
                    <div class="dom__bottom fadeInLeft wow" data-wow-delay="0.9s">
                        <div class="dom__bottom-img">
                            <img src='static/img/content/dom-bottom-6.png'>
                        </div>
                        <div class="dom__bottom-text">
                            Over 150
                            <br>
                            qualified specialists
                        </div>
                    </div>
                    <div class="dom__bottom fadeInLeft wow" data-wow-delay="1.2s">
                        <div class="dom__bottom-img">
                            <img src='static/img/content/dom-bottom-8.png'>
                        </div>
                        <div class="dom__bottom-text">
                            Sustainable annual <br>
                            growth by 10 - 20%
                        </div>
                    </div>
                    <div class="dom__bottom fadeInLeft wow" data-wow-delay="1.5s">
                        <div class="dom__bottom-img">
                            <img src='static/img/content/dom-bottom-5.png'>
                        </div>
                        <div class="dom__bottom-text">
                            <span>5000 m<sup>2</sup> </span>
                            production in Estonia
                        </div>
                    </div>
                    <div class="dom__bottom fadeInLeft wow" data-wow-delay="1.8s">
                        <div class="dom__bottom-img">
                            <img src='static/img/content/dom-bottom-2.png'>
                        </div>
                        <div class="dom__bottom-text">
                            Double <br>
                            quality control
                        </div>
                    </div>
                    <div class="dom__bottom fadeInLeft wow" data-wow-delay="2.1s">
                        <div class="dom__bottom-img">
                            <img src='static/img/content/dom-bottom-3.png'>
                        </div>
                        <div class="dom__bottom-text">
                            Regular equipment <br>
                            modernization
                        </div>
                    </div>
                    <div class="dom__bottom fadeInLeft wow" data-wow-delay="2.4s">
                        <div class="dom__bottom-img">
                            <img src='static/img/content/dom-bottom-4.png'>
                        </div>
                        <div class="dom__bottom-text">
                            Clients all over <br>
                            the World
                        </div>
                    </div>
                   
                    
                    
                    
                </div>

            </div>
        </div>
    </div>

    <div class="trust">
        <div class="trust__bg m-bg-cont">
            <img src='static/img/content/trust-bg.png'zz>
        </div>
        <div class="wrapper">
            <div class="trust__container">
                <div class="trust__left">
                    <div class="main-title  wow fadeInLeft">
                        We are <span>trusted</span> by
                    </div>
                    <div class="trust__desc wow fadeInLeft">
                        <p>
                            For 17 years of successful work and due to clear fulfillment of contractual obligations, we have developed a large customer base. We highly value our customers and partners and <br>
                                here are some of them.
                        </p>
                    </div>
                </div>

                <div class="trust__items">
                    <div class="trust__row">
                        <div class="trust__item wow fadeInRight" data-wow-delay="0.3s">
                            <img src="static/img/content/trust-1.png" alt="">
                        </div>
                        <div class="trust__item wow fadeInRight" data-wow-delay="0.6s">
                            <img src="static/img/content/trust-2.png" alt="">
                        </div>
                    </div>
                    <div class="trust__row">
                        <div class="trust__item wow fadeInRight" data-wow-delay="0.9s">
                            <img src="static/img/content/trust-3.png" alt="">
                        </div>
                        <div class="trust__item wow fadeInRight" data-wow-delay="1.2s">
                            <img src="static/img/content/trust-4.png" alt="">
                        </div>
                        <div class="trust__item wow fadeInRight" data-wow-delay="1.5s">
                            <img src="static/img/content/trust-5.png" alt="">
                        </div>
                    </div>
                    <div class="trust__row">
                        <div class="trust__item wow fadeInRight" data-wow-delay="1.8s">
                            <img src="static/img/content/trust-6.png" alt="">
                        </div>
                        <div class="trust__item wow fadeInRight" data-wow-delay="2.1s">
                            <img src="static/img/content/trust-7.png" alt="">
                        </div>
                        <div class="trust__item wow fadeInRight" data-wow-delay="2.4s">
                            <img src="static/img/content/trust-8.png" alt="">
                        </div>
                        <div class="trust__item wow fadeInRight" data-wow-delay="2.7s">
                            <img src="static/img/content/trust-9.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="trust__mobile">
                    <div class="trust__item wow fadeInRight" data-wow-delay="0.3s">
                        <img src="static/img/content/trust-1.png" alt="">
                    </div>
                    <div class="trust__item wow fadeInRight" data-wow-delay="0.6s">
                        <img src="static/img/content/trust-2.png" alt="">
                    </div>
                    <div class="trust__item wow fadeInRight" data-wow-delay="0.9s">
                        <img src="static/img/content/trust-3.png" alt="">
                    </div>
                    <div class="trust__item wow fadeInRight" data-wow-delay="1.2s">
                        <img src="static/img/content/trust-4.png" alt="">
                    </div>
                    <div class="trust__item wow fadeInRight" data-wow-delay="1.5s">
                        <img src="static/img/content/trust-5.png" alt="">
                    </div>
                    <div class="trust__item wow fadeInRight" data-wow-delay="1.8s">
                        <img src="static/img/content/trust-6.png" alt="">
                    </div>
                    <div class="trust__item wow fadeInRight" data-wow-delay="2.1s">
                        <img src="static/img/content/trust-7.png" alt="">
                    </div>
                    <div class="trust__item wow fadeInRight" data-wow-delay="2.4s">
                        <img src="static/img/content/trust-8.png" alt="">
                    </div>
                    <div class="trust__item wow fadeInRight" data-wow-delay="2.7s">
                        <img src="static/img/content/trust-9.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="count">
        <div class="m-bg-cont m-bg-cont-1">
            <img src='static/img/content/count-bg-1.jpg'>

        </div>
        <div class="m-bg-cont m-bg-cont-2">
            <img src='static/img/content/count-bg-2.jpg'>

        </div>
        <div class="count__items">
            <div class="count__item">
                <div class="count__title  count__title-2 counter-value" data-count="21535">
                    21 535
                </div>
                <div class="count__desc">
                    orders completed
                </div>
            </div>
            <div class="count__item">
                <div class="count__title ">
                    <span class="counter-value count__title-1" data-count="7535000">7 535 000</span> m<sup>2</sup>
                </div>
                <div class="count__desc">
                    of glass processed
                </div>
            </div>
        </div>
    </div>

    <div class="ev">
        <div class="wrapper">
            <div class="ev__container">
                <div class="ev__top main-title  wow fadeInLeft">
                    <span>Events</span> Calendar
                </div>

                <div class="ev__content">
                    <div class="ev__button ev__button-prev ev-prev">
                        <img src='static/img/content/ev-arrow.png'>
                    </div>
                    <div class="ev__button ev__button-next ev-next">
                        <img src='static/img/content/ev-arrow.png'>
                    </div>
                    <div class="ev__slider ev-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="prod__item">
                                    <div class="prod__item-img">
                                        <div class="prod__item-img-content m-bg-cont">
                                            <img src='static/img/content/prod-item.jpg'>
                                        </div>
                                    </div>
                                    <div class="prod__item-content">
                                        <div class="prod__item-title">
                                            Glass Makers Meta Expo 
                                            05 - 07 April 2019 
                                        </div>
                                        <div class="prod__item-bottom">
                                            <div class="prod__item-text">
                                                Moscow, Russia 

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="prod__item">
                                    <div class="prod__item-img">
                                        <div class="prod__item-img-content m-bg-cont">
                                            <img src='static/img/content/prod-item.jpg'>
                                        </div>
                                    </div>
                                    <div class="prod__item-content">
                                        <div class="prod__item-title">
                                            World of Glass <br>
08-11 June

                                        </div>
                                        <div class="prod__item-bottom">
                                            <div class="prod__item-text">
                                                Moscow, Russia 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="prod__item">
                                    <div class="prod__item-img">
                                        <div class="prod__item-img-content m-bg-cont">
                                            <img src='static/img/content/prod-item.jpg'>
                                        </div>
                                    </div>
                                    <div class="prod__item-content">
                                        <div class="prod__item-title">
                                            GlassTec 2020 <br>
                                            20-23 October
                                            
                                        </div>
                                        <div class="prod__item-bottom">
                                            <div class="prod__item-text">
                                                Dusseldorf, Germany

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="prod__item">
                                    <div class="prod__item-img">
                                        <div class="prod__item-img-content m-bg-cont">
                                            <img src='static/img/content/prod-item.jpg'>
                                        </div>
                                    </div>
                                    <div class="prod__item-content">
                                        <div class="prod__item-title">
                                            Orgatec 2020 <br>
                                            23-31 October
                                            
                                        </div>
                                        <div class="prod__item-bottom">
                                            <div class="prod__item-text">
                                                Cologne, Germany
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="prod__item">
                                    <div class="prod__item-img">
                                        <div class="prod__item-img-content m-bg-cont">
                                            <img src='static/img/content/prod-item.jpg'>
                                        </div>
                                    </div>
                                    <div class="prod__item-content">
                                        <div class="prod__item-title">
                                            Eurasia Glass 2021 <br>
                                            3-6 March
                                        </div>
                                        <div class="prod__item-bottom">
                                            <div class="prod__item-text">
                                                Istanbul, Turkey
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form">
        <div class="form__bg">
            <img src="static/img/content/form-bg.png" alt="">
        </div>
        <div class="wrapper">
            <div class="form__container">
                <div class="form__left">
                    <div class="form__title  wow fadeInLeft">
                        Starting a <span>new project?</span>
                    </div>
                    <div class="form__desc">
                        Fill the form and we will contact you!
                    </div>

                    <a href="#" class="form__link">+7 495 118 43 60</a>
                    <a href="#" class="form__link">
                        office@domglass.eu
                    </a>
                </div>

                <form action="#" class="form__right form-bottom">
                    <div class="form__right-field">
                        <input name="name" type="text" class="m-field" placeholder="Name">
                        <input name="email" type="email" class="m-field" placeholder="Email">
                        <input name="company" type="text" class="m-field" placeholder="Company ">
                        <input name="phone" type="text" class="m-field phone-mask" placeholder="Phone" >
                    </div>

                    <div class="form__text">
                        <div class="form__text-title">
                            Your message to us
                        </div>
                        <textarea name="message" class="m-textarea"></textarea>
                    </div>

                    <button class="m-button">Send</button>
                </form>
                <div class="form-bottom-link">
                    <a href="#" class="form__link">+7 495 118 43 60</a>
                    <a href="#" class="form__link">
                        office@domglass.eu
                    </a>
                </div>
                
            </div>
        </div>
    </div>




    {{> footer/footer}}

</body>
</html>