// main style file by Maxim Sinukov
html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
    &.no-scroll {
		overflow: hidden;
    }
}

body {
    font-family: 'graphik', sans-serif;
    color: #2B2A30;
    letter-spacing: 0 !important;
    margin: 0 !important;
    transition: 0.3s;
    font-weight: 500;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.collapsible-body {
    overflow: hidden;
}

.footer {
    margin-top: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    outline: none;
    color: #2B2A30;
}

.number-input-button {
    border: none;
    border: 2px solid #000;
    width: 20px;
    height: 20px;
    background-color: #fff;
    font-weight: bold;
    color: green;
}

.number-result{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.number-input-container{
    display: flex;    
}

.number-input {
    box-shadow: inset 0 0 0 rgba(64,150,255,0.1);
    margin: 1rem 0;
    pointer-events: none;
    text-align: center;
    border: none;
    width: 30px;
    display: none;
    text-align: center;
}


#scene {
    position: relative;
    width: 100%;
}

.block-1 {  
    position: absolute;
    left: 50% !important;
}
.block-2 {
    position: absolute;
    left: 50% !important;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 20;
    flex-wrap: wrap;
    @media screen and (max-width: 1699px) {
        max-width: 1200px !important;
    }
    @media screen and (max-width: 1300px) {
        max-width: 1024px !important;
    }
    @media screen and (max-width: 1100px) {
        max-width: 900px !important;
    }
    @media screen and (max-width: 1024px) {
        max-width: 700px !important;
    }
    @media screen and (max-width: 768px) {
        max-width: calc(580px - 30px) !important;
        padding: 0 15px;
    }
    @media screen and (max-width: 767px) {
        max-width: 100% !important;
    }
    @media screen and (max-width: 1024px) {
        
    }
}

.swiper-container {
    overflow: visible !important;
}

.m-bg-cont {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    img:nth-child(1) {
        display: none;
    }
}


.m-select {
    background: #FFFFFF;
    border: 1px solid #E2E2E2 !important;
    height: 50px !important ;
    border-radius: 0 !important;
    &:after {
        border-color: #2B7EE0 !important;
    }
    max-width: 270px;
    width: 100%;
    height: 50px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    color: #323232 !important;
    .list {
        width: calc(100% + 2px) !important;
        left: -1px !important;
        max-height: 270px;
        overflow-y: auto;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        .option {
            height: 45px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 128%;
            color: #323232;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #D7DEE9 !important;
            &:hover {
                background-color: #F6F9FE;
            }
            &:last-child {
                border-bottom: 0;
            }
            &.focus {
                background-color: #F6F9FE !important;
                font-weight: 300 !important;
            }   
        }
    }
    &.open {
        border-color: #2B7EE0 !important;
        border-bottom: none !important;
        .list {
            min-width: 100% !important;
            transform: translateY(-4px) !important;
            z-index: 12 !important;
            border-left: 1px solid #2B7EE0 !important;
            border-right: 1px solid #2B7EE0 !important;
            box-sizing: content-box;
            border-bottom: 1px solid #2B7EE0 !important;
        }
    }
}

#slider {
    width: 100%;
}
.noUi-base {
    background-color: #e2e2e2;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
    top: -4.5px;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
    background: #2062B0;
}
.noUi-connect {
    background: #2062B0;
}
.noUi-horizontal .noUi-handle {
    background: #2062B0;
    width: 10px;
    height: 11px;
    border-radius: 3px !important;
    background-color: #2062B0 !important;
}
.noUi-target {
    background: #2062B0;
}

.noUi-active {
    border-radius: 40px 40px 40px 40px !important;
}

a {
    text-decoration: none;
    color: #323232;
    font-weight: 400;
}

.noUi-tooltip {
    span {
        display: none;
    }
}

.noUi-tooltip {
    width: 100px;
    transform: rotate(0) translatex(-50%) !important;
    background-color: transparent !important;
    opacity: 1 !important;
    color: black !important; 
    span {
        transform: none !important;
        color: black !important;
        opacity: 1 !important;
        top: calc(100% + 23px) !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 15px !important;
        text-align: center !important;
        color: #4F4F4F !important;
    }
}

.collapsible-body {
    transition: 0.2s;
    overflow: hidden;
}

.main-title, .main-title a {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
}

.cont-tab {
    display: none;
    &.active {
        display: block;
    }
}
.header {
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1001001;
    @media screen and (max-width: 1024px) {
        padding-top: 30px;
    }
    &__mobile {
        display: none;
        cursor: pointer;
        svg {
            height: 30px;
            width: 30px;
        }
        @media screen and (max-width: 1023px) {
            display: flex;
            margin-left: auto;
            
        }
    }
    &__close {
        display: none;
        margin-bottom: 20px;
        cursor: pointer;
        svg {
            height: 20px;
            width: 20px;
        }
        @media screen and (max-width: 1023px) {
            display: flex;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 0px;
    }
    @media screen and (max-width: 599px) {
        padding-top: 10px;
    }
    .wrapper {
        max-width: 1645px;
    }
    &__logo {
        @media screen and (max-width: 1699px) {
            margin-left: -20px;
        }
        @media screen and (max-width: 1024px) {
            img {
                width: 100px;
            }
        }
    }
    &__menu {
        display: flex;
        margin-top: 16px;
        margin-right: -1px;
        @media screen and (max-width: 1699px) {
            margin-right: 0;
        }
        @media screen and (max-width: 1024px) {
            margin-top: 0;
        }
        list-style: none;
        @media screen and (max-width: 1023px) {
            position: fixed;
            height: 100vh;
            top: 0;
            right: 0;
            padding: 25px 15px;
            flex-direction: column;
            align-items: flex-start;
            background-color: #fff;
            max-width: 250px;
            width: 100%;
            z-index: 11;
            opacity: 0;
            visibility: hidden;
            transition: 0.2s;
            transform: translate(100%);
            &.active{
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
        &-overlay {
            position: fixed ;
            background-color: rgba(0, 0, 0, 0.301);
            z-index: 10;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.2s;
            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
        li {
            a {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                font-weight: 500;
                color: #2B2A30;
            }
            
            margin-right: 63px;
            position: relative;
            transition: 0.2s;
            display: flex;
            width: 75px;
            &:last-child {
                width: 66px;
            }
            &:first-child {
                margin-right: 70px;
            }
            @media screen and (max-width: 1024px) {
                margin-right: 30px !important;
            }
            @media screen and (max-width: 1023px) {
                margin-bottom: 20px;                
            }
            @media screen and (max-width: 767px) {
                margin-right: 5px !important;
            }
            @media screen and (max-width: 599px) {
                margin-right: 10px !important;
                width: auto;
                font-size: 14px;
            }
            @media screen and (max-width: 400px) {
                font-size: 12px !important;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 67px;
                height: 2px;
                border-radius: 2px;
                background-color: #004C8E;
                transform: scaleX(0);
                transition: 0.2s;
                transform-origin: 0 0;
            }
            &:hover {
                a {
                    color: #004C8E;
                }
                &:before {
                    transform: scaleX(1);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
          
        
    }
}

.first {
    min-height: 100vh;
    position: relative;
    display: flex;
    position: relative;
    z-index: 1;
    background-color: #F9F9F9;
    @media screen and (max-width: 1280px) {
        min-height: 100vh;
    }
    .wrapper {
        justify-self: stretch;
        align-items: stretch;
    }
    &__container {
        width: 100%;
        display: flex;
        align-items: stretch;

    }
    .main-title, .main-title a {
        letter-spacing: -0.5px !important;  
    }
    &__right {
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;  

    }
    &__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -30px;
        @media screen and (max-width: 599px) {
            width: 100%;
        }

        @media screen and (max-width: 1023px) {
            align-items: center;
            text-align: center;
        }
        
    }
    &__title {
        font-size: 65px;
        font-weight: 600;
        line-height: 70px;
        /* Text style for "Best ,  ," */
        margin-bottom: 23px;
        margin-top: auto;
        margin-top: 353px;
        letter-spacing: 0.2px;
        @media screen and (max-width: 1699px) {
            line-height: 55px;
            font-size: 55px;            margin-top: auto;
            padding-top: 0;
            padding-top: 120px;
        }
        @media screen and (max-width: 1279px) {
            font-size: 36px;
            line-height: 40px;
        }
        @media screen and (max-width: 1024px) {
            font-size: 32px;
            line-height: 32px;
        }
        @media screen and (max-width: 599px) {
            font-size: 20px;
            line-height: 26px;
        }
        span {
            color: #004C8E;
        }
    }
    &__desc {
        font-size: 17px;
        font-weight: 500;
        line-height: 26px;
        max-width: 800px;
        margin-left: 5px;
        @media screen and (max-width: 1699px) {
            max-width: 746px;
        }
        @media screen and (max-width: 1023px) {
            font-size: 17px;
        }
        @media screen and (max-width: 700px) {
            font-size: 12px;
            max-width: 520px;
            line-height: 19px;
            margin-left: 0px;
        }
    }
    .m-button {
        margin-top: 95px;
        max-width: 178px;
        width: 100%;
        transform: translate(3px, 20px);
        font-weight: 500 !important;
        @media screen and (max-width: 1024px) {
            margin-top: 60px;
            margin-bottom: 40px;
        }
        @media screen and (max-width: 1023px) {
            margin-left: auto;

        }
    }
    &__link {
        margin-top: auto;
        font-style: normal;
        font-weight: normal;
        font-size: 17.9px;
        line-height: 21px;
        position: relative;
        transition: 0.2s;
        margin-right: auto;
        display: flex;
        color: #004C8E;
        // margin-bottom: 5px;
        margin-left: 3px;
        width: 141px;
        font-weight: 500;
        padding-bottom: 6px;
        @media screen and (max-width: 1023px) {
            margin-left: auto;
            text-align: center;
            justify-content: center;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #004C8E;
            transition: 0.2s;
            transform-origin: 0 0;
            transform: scaleX(1);
        }
        &:hover {
            color: #2B2A30;   
            &:before {
                transform: scaleX(0);
            }
        }
    }

}

@media screen and (max-width: 1023px) {
    .prod__content .prod__left {
        // display: none;
    }
}

$blue: #004C8E;
$blueHover: rgb(0, 68, 128);
.m-button {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 0 20px;
    background-color: #004C8E;
    transition: 0.2s;
    margin-right: auto;
    &:hover {
        background-color: $blueHover;
    }

}

.main-title, .main-title a {
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 45px;
    color: #2B2A30;
    font-weight: 500;
    span {
        color: $blue;
    }
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.prod {
    min-height: 100vh;
    position: relative;
    &__top {
        padding-top: 134px;
        align-items: flex-start;
        @media screen and (max-width: 1699px) {
            padding-top: 80px;
        }
        @media screen and (max-width: 1024px) {
            padding-top: 70px;
        }
    }
    .wrapper {
        flex-wrap: nowrap !important ;
    }
    .main-title, .main-title a {
        font-size: 40px;
        letter-spacing: -1.1px;
        span, a {
            color: inherit;
            &.active {
                color: #004C8E;
            }
            position: relative;
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #2A2B30;
                opacity: 0;
                transition: 0.2s;
            }
            
            &.animation-active {
                &:before {
                    animation: anim 2s;
                }                
                &.before-first {
                    &:before {
                        animation-delay: 0.5s;
                    }
                }
            }
            
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
        @media screen and (max-width: 1699px) {
            font-size: 32px;
        }
        @media screen and (max-width: 1279px) {
            font-size: 32px;
            line-height: 40px;
        }
        @media screen and (max-width: 1024px) {
            font-size: 26px;
        }
        @media screen and (max-width: 599px) {
            font-size: 20px;
            line-height: 26px;
        }
        @media screen and (max-width: 375px) {
            font-size: 18px;    
        }
    }
    &__top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: -4px;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        @media screen and (max-width: 1024px) {
            display: none;            
        }
    }
    &__left {
        margin-top: 40px;
        @media screen and (max-width: 1024px) {
            margin-bottom: 30px;
            margin-top: 0;
            order: 1;
            margin-top: 20px;
            margin-bottom: 0;
        }
        
    }
    &__links {
        @media screen and (max-width: 1023px) {
            order: 2;
        }
    }
    &__desc, .prod__left p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #2B2A30;
        // opacity: 0.45;
        max-width: 416px;
        width: 100%;
        padding-bottom: 25px;
        margin-top: -2px;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and (max-width: 1699px) {
            font-size: 14px;
        }
    }
    &__items {
        max-width: 1120px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // margin-right: 5px !important;
        margin-top: 44px !important;

        @media screen and (max-width: 1024px) {
            margin-top: 0 !important;
            margin-left: 0 !important;
        }
    }

    &__icon {
        transition: 0.2s;
        &.active {
            transform: rotate(180deg);
        }
    }

    &__links {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 29px;
        color: #2B2A30;
        display: flex;
        align-items: center;
        padding-bottom: 2px;
        position: relative;
        // margin-right: -52px;
        @media screen and (max-width: 1024px) {
            margin-right: 0;
            font-size: 18px;
        }   
        @media screen and (max-width: 1024px) {
            margin-top: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 99999px;
            height: 1px;
            background-color: #BFBFC0;
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }

        a {
            opacity: 0.3;
            font-weight: 500;
            &.active {
                color: #004C8E;
                opacity: 1;
            }
            &:last-child {
                // margin-right: 24px;
            }
            &:first-child {
                margin-right: 15px;
            }
        }
    }
    &__icon {
        margin-right: 15px;
        margin-left: 15px;
    }
    &__content-container {
        padding-bottom: 180px;
        @media screen and (max-width: 1699px) {
            padding-bottom: 100px;
        }
        @media screen and (max-width: 1024px) {
            padding-bottom: 60px;
        }
        .wrapper {
            justify-content: space-between;
        }
    }
    &__items {
        margin-right: -8px;
        margin-top: 40px;
        @media screen and (max-width: 1024px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 1699px) {
            max-width: 850px;
            margin-left: 30px;
        }
        @media screen and (max-width: 1023px) {
            margin-left: 0;
        }

    }
    &__content {
        @media screen and (max-width: 1024px) {
            .wrapper {
                flex-direction: column;
            }
        }
    }
    &__item {
        width: calc(25% - 8px);
        margin-right: 8px;
        transition: 0.2s;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1024px) {
            width: calc(33% - 8px);
        }
        @media screen and (max-width: 768px) {
            width: calc(50% - 8px);
        }

        &-content {
            padding: 18px 22px 8px 11px;
            margin-top: 4px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            background-color: #F5F5F5;
            transition: 0.2s;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 1699px) {
                padding: 15px;
                font-size: 12px;
            }
        }
        &-title {
            transition: 0.2s;
            min-height: 70px;
            max-height: 70px;
            height: 100%;
            font-weight: 500;
            @media screen and (max-width: 1699px) {
                margin-bottom: 10px;  
                min-height: 30px;
                max-height: 30px; 
            }
        }
        &-bottom {
            width: 100%;
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            opacity: 0;
            visibility: hidden;
            align-items: center;
        }
        
        &__text {
            transition: 0.2s;
        }
        &-icon {
            margin-right: 7px;
        }
        &-line {
            height: 2px;
            background-color: #fff;
            flex-grow: 1;
            margin-right: 10px;
        }
        &-img {
            width: 100%;
            height: 160px;
            position: relative;
            @media screen and (max-width: 1699px) {
                height: 100px;
            }
            &-content {
                height: 160px;
                transition: 0.2s;
                // opacity: 0.37;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                @media screen and (max-width: 1699px) {
                    height: 100px;
                }
            }
        }
        &:hover {
            .prod__item-bottom {
                opacity: 1;
                visibility: visible;
            }
            .prod__item-content, .prod__item-title, .prod__item-text {
                color: white !important;
            }
            .prod__item-content {
                background-color: $blue;
            }
            .prod__item-img-content {
                height: 220px;
                filter: grayscale(0);
                opacity: 1;
                @media screen and (max-width: 1699px) {
                    height: 130px;
                }
            }
        }
    }
}

.coop {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    background-color: #F5F5F5;
    @media screen and (max-width: 1023px) {
        padding-top: 50px;
    }
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        // background-size: contain;
        height: 100%;
        background-position: 60% 95% !important;


    }
    .main-title, .main-title a {
        margin-bottom: 68px;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 63px;
        font-weight: 500;
        @media screen and (max-width: 1699px) {
            margin-bottom: 50px;
        }
        @media screen and (max-width: 1699px) {
            font-size: 50px;
        }
        @media screen and (max-width: 1279px) {
            font-size: 36px;
            line-height: 40px;
        }
        @media screen and (max-width: 1024px) {
            font-size: 26px;
        }
        @media screen and (max-width: 599px) {
            font-size: 22px;
            line-height: 26px;
        }
    }
    &__desc {
        font-style: normal;
        font-size: 28px;
        line-height: 37px;
        color: #2A2B30;
        font-weight: 500;
        margin-bottom: 17px;
        @media screen and (max-width: 1023px) {
            font-size: 20px;
            line-height: 22px;
        }
        
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        max-width: 658px;
    }
        
    &__container {
        padding-bottom: 75px;
    }
    .mb75 {
        margin-bottom: 55px;
        @media screen and (max-width: 1440px) {
            margin-bottom: 30px;
        }
    }
    &__img {
        height: 52px;
        display: flex;
        align-items: flex-end;
    }
    &__item {
        width: 50%;
        margin-bottom: 30px;
        &-desc {    
            margin-top: 7px;
            max-width: 265px;
        }
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #000000;
        opacity: 1;
        @media screen and (max-width: 767px) {
            font-size: 10px;
            margin-top: 10px;
            // width: 100%;
            line-height: 20px;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

    }

    .m-button {
        margin-top: 40px;
        margin-right: auto;
        max-width: 173px;
    }

}
@media screen and (max-width: 767px) {
    .coop__desc-1 {
        max-width: 230px;
    }
}
.exp {
    padding-top: 100px;
    padding-bottom: 130px;
    background-color: #fefefe;
    @media screen and (max-width: 767px) {
        padding-top: 50px;
    }
    &__imgs-item {
        background-color: #F5F5F5;
    }
    &__content {
        flex-direction: column;
        margin-top: 35px;
    }
    &__row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
        @media screen and (max-width: 1280px) {
            flex-direction: column;
            align-items: flex-start;
            .exp__desc {
                margin-bottom: 35px;
            }
        }
    }
    &__slider {
        flex-grow: 1;
        width: 950px;
        @media screen and (max-width: 1699px) {
            width: 800px;
        }
        @media screen and (max-width: 1699px) {
            width: 600px;
        }
        @media screen and (max-width: 1023px) {
            width: 100%;
            max-width: 100%;
            &-container {
                max-width: 100%;
            }
        }
    }
    &__imgs {
        flex-grow: 1;
        width: 950px;
        @media screen and (max-width: 1699px) {
            width: 800px;
        }
        @media screen and (max-width: 1699px) {
            width: 600px;
        }
        @media screen and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #2B2A30;
        width: 447px;
        margin-left: 4px;
        &:last-child {
            width: 449px;
        }
        @media screen and (max-width: 1280px) {
            margin-bottom: 40px;
            width: 100%;
            max-width: 400px !important;
            transform: none;
            font-size: 14px;
            line-height: 22px;
        }
        @media screen and (max-width: 767px) {
            max-width: 100% !important;
            font-size: 14px;    
                br {
                    display: none;
                }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__content {
        align-items: center;    
        @media screen and (max-width: 1280px) {
            align-items: flex-start;
        }
    }
    .main-title, .main-title a {
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 51px;
        color: #2B2A30;
        font-weight: 500;
        @media screen and (max-width: 1699px) {
            font-size: 50px;
        }
        @media screen and (max-width: 1279px) {
            font-size: 36px;
            line-height: 40px;
        }
        @media screen and (max-width: 1024px) {
            font-size: 26px;
        }
        @media screen and (max-width: 599px) {
            font-size: 26px;
            line-height: 26px;
        }
    }
    &__left {
        margin-right: 230px;
        @media screen and (max-width: 1699px) {
            margin-right: 100px;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            max-width: 100%;
        }
        @media screen and (max-width: 1023px) {
            margin-right: 0;
        }
    }
    &__right {
       
    }
    &__content {
        display: flex;
        flex-grow: 1;
        width: 100%;
        @media screen and (max-width: 1280px) {
            flex-direction: column;
        }
    }
    &__container {
        width: 100%;
        
    }

    &__slider-container {
        @media screen and (max-width: 1280px) {
            margin-right: 0;
        }
    }

    &__imgs {
        display: flex;
        // margin-right: -30px;
        &-item {
            margin-right: 30px;
            width: calc(33.333% - 30px);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 175px;      
            background-color: #F5F5F5;
            @media screen and (max-width: 1699px) {
                img {
                    transform: scale(0.7);
                }
            }
            @media screen and (max-width: 1699px) {
                height: 130px;
            }
            @media screen and (max-width: 599px) {
                width: 100%;
                margin-right: 0;
            }
        }
        @media screen and (max-width: 599px) {
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: 767px) {
            max-width: 80%;
            margin: 0 auto;
        }

    }
    &__slider-container {
        position: relative;
        margin-right: 30px;
        @media screen and (max-width: 768px) {
            margin-top: 20px;
            margin-right: 0;
        }
        @media screen and (max-width: 767px) {
            max-width: 80%;
            margin: 0 auto;
        }
    }
    &__button {
        top: 50%;
        position: absolute;
        z-index: 10;
        transform: translateY(-50%);
        &-prev {
            left: -42px;
            svg {
                transform: rotate(180deg);
            }
        }
        svg {
            width: 24px;
            height: 40px;
            fill: #707070;
            opacity: 0.5;
            transition: 0.2s;
        }
        &-next {
            right: -42px;
        }
        cursor: pointer;
        &:hover {
            svg {
                opacity: 1;
            }
        }
    }
    position: relative;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__slider{ 
        overflow: hidden;
        margin-right: 30px;
        .swiper-slide {
            margin-right: 10px;
            width: calc(33% - 10px);
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 200px !important;
            max-height: 200px !important;
            background-color: #F5F5F5;
            // border: 1px solid red;
            @media screen and (max-width: 1699px) {
                min-height: 140px !important;
                max-height: 140px !important;
                img {
                    transform: scale(0.85);
                }
            }
            @media screen and (max-width: 1699px) {
                min-height: 130px !important;
                max-height: 130px !important;
            }
            @media screen and (max-width: 768px) {
                min-height: 100px !important;
                max-height: 100px !important;
            }
        }
        
    }
}
.count__title  {
    max-width: 260px;
    width: 100%;
    white-space: nowrap;
}
.exp-slider {
    img {
        max-width: 100%;
        height: auto;
    }
 }
.exp-slider-1 {
    overflow: hidden;
    margin-right: 30px;
    .swiper-wrapper {
        .swiper-slide {
            min-height: 200px !important;
            max-height: 200px !important;
            @media screen and (max-width: 1699px) {
                min-height: 140px !important;
                max-height: 140px !important;
                img {
                    transform: scale(0.5);
                }
            }
            @media screen and (max-width: 1440px) {
                min-height: 130px !important;
                max-height: 130px !important;
            }
            @media screen and (max-width: 768px) {
                min-height: 100px !important;
                max-height: 100px !important;
            }
        }
        align-items: stretch !important;
    }
}

.exp-slider {
    img {
        @media screen and (max-width: 1024px) {
            transform: scale(0.8) !important;
            max-width: 100%;
            height: auto;
        }
    }
}

.trust {
    &__mobile {
        display: none;
        flex-wrap: wrap;
        @media screen and (max-width: 1024px) {
            display: flex;
            margin-top: 30px;
        }
    }
    &__items {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    .main-title {
        @media screen and (max-width: 1024px) {
            margin-bottom: 30px !important;
        }
    }
}
.exp__imgs-container {
    position: relative;
    @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
    }
    .exp__button {
        &-prev {
            left: -42px;
            svg {
                transform: rotate(180deg);
            }
        }
        svg {
            width: 24px;
            height: 40px;
            fill: #707070;
            opacity: 0.5;
            transition: 0.2s;
        }
        &-next {
            right: -42px;
            @media screen and (max-width: 768px) {
                right: -42px;
            }
        }
        @media screen and (max-width: 767px) {
            &-prev {
                left: -12px;
            }
            &-next {
                right: -12px;
            }
        }
    }
}
.main-title {
    width: 100%;
    @media screen and (max-width: 767px) {
        text-align: center !important;
    }
}
sup {
    top: 0.3em;
    font-family: inherit;
    color: inherit;
}
.exp__slider {
    margin-right: 0;
}
.dom {
    position: relative;
    min-height: 100vh;
    padding-top: 85px;
    padding-bottom: 180px;
    @media screen and (max-width: 767px) {
        padding-bottom: 100px;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .main-title, .main-title a {
        margin-bottom: 55px;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 67px;
        @media screen and (max-width: 1699px) {
            font-size: 50px;
            line-height: 55px;
        }
        @media screen and (max-width: 1439px) {
            font-size: 36px;
            line-height: 40px;
        }
        @media screen and (max-width: 1024px) {
            font-size: 26px;
        }
        @media screen and (max-width: 599px) {
            font-size: 26px;
            line-height: 26px;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-right: -53px;
        @media screen and (max-width: 599px) {
            margin-right: 0;
        }
    }
    &__item {
        display: flex;
        padding-left: 13px;
        min-height: 100px;
        margin-bottom: 130px;
        margin-bottom: 120px;
        position: relative;
        margin-right: 247px;
        width: calc(50% - 247px);
        &-line {
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgb(224, 224, 224);
            height: 100%;
            width: 3px;
            img {
                display: none;
            }
            &:before {
                content: '';
                width: 6px;
                height: 20px;
                top: 48px;

                left: -1.5px;
                background-color: #004C8E;
                position: absolute;
            }
            
        }
        @media screen and (max-width: 1699px) {
            margin-right: 100px;
            width: calc(50% - 100px);
            margin-bottom: 60px;
        }
        @media screen and (max-width: 1280px) {
            width: calc(50% - 75px);
            margin-right: 75px;
        }
        @media screen and (max-width: 599px) {
            width: 100%;
            margin-right: 0;
        }
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #4E4E4E;
        @media screen and (max-width: 1280px) {
            font-size: 14px;            
        }
        img {
            transition: 0.2s;
        }
        &-img {
            margin-bottom: 5px;
            transition: 0.6s;
            height: 40px;
            @media screen and (max-width: 767px) {
                img {
                    height: 34px;
                }
            }
            img {
                max-width: 100%;
                max-height: 34px;
                
            }
        }
        cursor: pointer;
    }
    &__bottoms {
        margin-top: 38px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: - 80px;
        margin-right: -49px;    
        @media screen and (max-width: 1023px) {
            margin-right: 0;
        }
        @media screen and (max-width: 767px) {
            margin-right: -15px;
            margin-top: 0;
        }
    }
    &__bottom {
        width: calc(25%);
        margin-bottom: 80px;
        @media screen and (max-width: 767px) {
            width: calc(33%);
        }
        @media screen and (max-width: 599px) {
            width: calc(50% - 9px);
            margin-right: 9px;
            margin-bottom: 55px;
        }
        &-text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #707070;
            
        }
        &-text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #707070;
            font-weight: 400;
            @media screen and (max-width: 599px) {
                font-size: 14px;
            }
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: #707070;
                font-weight: 600;
                display: flex;
                @media screen and (max-width: 599px) {
                    font-size: 14px;
                    // line-height: 14px;
                }   
            }
        }
    }
    &__bottom {
        &-img {
            height: 50px;
        }
        &-left {
            img {
                margin-left: -20px;
            }
        }
    }
}

.trust {
    padding-bottom: 115px;
    background-color: #f7f7f7;
    padding-top: 123px;
    position: relative;
    @media screen and (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.04;
    }
    &__item {
        width: 355px;
        height: 200px;
        border: 1px solid #E3E3E3;
        margin-right: -1px;
        margin-bottom: -1px;
        background-color: #f5f5f5;
        @media screen and (max-width: 1699px) {
            width: 200px;
            height: 130px;
            img {
                transform: scale(0.7);
            }
        }
        @media screen and (max-width: 1279px) {
            height: 100px;
        }
        @media screen and (max-width: 1023px) {
            width: 50%;
        }
        @media screen and (max-width: 599px) {
            img {
                transform: scale(0.6);
            }
        }
    }
    .main-title, .main-title a {
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 67px;
        margin-bottom: 1px;
        font-weight: 500;
        @media screen and (max-width: 1279px) {
            font-size: 36px;
            line-height: 40px;
        }
        @media screen and (max-width: 1024px) {
            font-size: 26px;
        }
        @media screen and (max-width: 599px) {
            font-size: 26px;
            line-height: 26px;
        }
    }
    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #2B2A30;
        margin-top: 10px;
        max-width: 474px;
        width: 100%;
        @media screen and (max-width: 599px) {
            font-size: 14px;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #2B2A30;
        }
    }
    &__container {  
        width: 100%;
    }
    &__items {
        width: 100%;
        margin-left: auto;
        margin-top: -162px;
        @media screen and (max-width: 1279px) {
            margin-top: 30px;
        }
    }
    &__mobile {
        @media screen and (max-width: 1024px) {
            margin-top: 35px;
        }
    }
    &__row {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 1279px) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        filter: grayscale(100%);
        transition: 0.3s;
        cursor: pointer;
        
        &:hover {
            filter: grayscale(0);
            background-color: #f9f9f9;
        }
        
    }
}

.ev {
    background-color: #EEEEEE;
    padding-top: 63px;
    padding-bottom: 100px;
    &__container {
        width: 100%;
    }
    .main-title {
        color: #000000;
        font-family: Graphik;
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 45px;
        @media screen and (max-width: 1024px) {
            font-size: 34px;
            margin-bottom: 10px;
        }
        @media screen and (max-width: 767px) {
            font-size: 26px;
        }
    }
    &__content {
        width: 100%;    
        position: relative;
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: 1023px) {
            max-width: 80%;
        }
    }
    &__button {
        top: 50%;
        position: absolute;
        z-index: 10;
        transform: translateY(-50%);
        &-prev {
            left: -40px;
            img {
                transform: rotate(180deg);
            }
        }
        &-next {
            right: -50px;
        }
    }
    &__slider {
        padding-bottom: 33px;
        border-bottom: 1px solid #707070;
        overflow: hidden;
        margin-left: auto;
        position: relative;
        margin-top: -12px;
        
    }
    .swiper-slide {
        
        .prod__item-img {
            height: 78px;
            &-content {
                height: 78px;
            }
        }
        .prod__item {
            width: 100%;
            padding-top: 42px;
            display: flex;
            flex-direction: column;
            &-content {
                padding: 25px;
                padding-right: 15px;
            }
            &-bottom {
                opacity: 1;
                visibility: visible;
            }
            &:hover {
                .prod__item-img-content {
                    height: 120px;
                }
            }
        }
    }
}

.coop .m-button {
    @media screen and (max-width: 767px) {
        margin-left: auto;
    }
}
.prod__desc {
    
    @media screen and (max-width: 1024px) {
        height: 100px !important;
    }
    
    @media screen and (max-width: 365px) {
        height: 160px !important;
    }
}
.exp__imgs-container {
    @media screen and (max-width: 1024px) {
        max-width: 100%;
    }
}
.form {
    position: relative;
    &__container {
        padding-top: 190px;
        width: 100%;
        padding-bottom: 257px;
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            padding-top: 70px;
            padding-bottom: 50px;
        }
        @media screen and (max-width: 767px) {
            padding-bottom: 70px;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #f5f5f5;
    }
    &__left {
        width: 50%;
        @media screen and (max-width: 1024px) {
            width: 100%;
            .form__link {
                display: none;
            }
        }

    }
    &__right {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-left: auto;
        @media screen and (max-width: 1024px) {
            margin-left: 0;
            margin-top: 40px !important;
        }
        @media screen and (max-width: 1300px) {
            width: 40%;
        }
    }
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 67px;
        color: #2B2A30;
        font-weight: 500;
        margin-top: -10px;
        span {
            color: #004C8E;
        }
        @media screen and (max-width: 1300px) {
            font-size: 34px;
            line-height: 36px;
        }
        @media screen and (max-width: 767px) {
            font-size: 22px;
            line-height: 24px;
        }
    }
    &__desc {
        padding-bottom: 20px;
        font-size: 25px;
        border-bottom: 1px solid hsla(0, 0%, 44%, 0.356);
        margin-bottom: 40px;
        max-width: 536px;
        width: 100%;
        margin-top: -3px;
        font-weight: 500;
        @media screen and (max-width: 1300px) {
            font-size: 20px;
            margin-top: 5px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 15px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    &__right {
        max-width: 560px;
        width: 100%;
        margin-right: 167px;
        margin-top: -4px;
        @media screen and (max-width: 1300px) {
            max-width: 400px;
        }
        @media screen and (max-width: 1699px) {
            margin-right: 0;
        }
        @media screen and (max-width: 1024px) {
            max-width: 100%;
            margin-top: 0 !important;
        }
    }
    .form-bottom-link {
        display: none;
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            align-items: center;
            text-align: center;
        }
    }

    &__link {
        margin-bottom: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 53px;
        color: #222222;
        display: flex;
        transition: 0.2s;
        margin-left: 6px;
        &:hover {
            opacity: 0.7;
        }
        @media screen and (max-width: 1024px) {
            font-size: 24px;
            line-height: 26px;
        }
    }
    &__container {
        display: flex;
    }
    &__right-field {
        display: flex;
        flex-wrap: wrap;
        margin-right: -40px;
    }
    button {
        border: none;
        margin-top: 27px;
        height: 52px;
        width: 100%;
    }
    &__text {
        width: 100%;
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #2B2A30;
        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #2B2A30;
        }
    }
}

.m-field {
    border: none;
    border-bottom: 3px solid #DCDCDC;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    width: calc(50% - 40px);
    margin-right: 40px;
    margin-bottom: 40px;
    font-weight: 500;
    color: #2B2A30;
    &::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #2B2A30;

    }
}

.m-textarea {
    padding: 10px;
    border: 3px solid #DCDCDC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
    resize: none;
    color: #2B2A30;
    height: 156px;
    background-color: transparent;
}

.footer {
    padding-top: 94px;
    &__container {
        width: 100%;
    }
    &__bottom {
        span {
            margin-top: -30px;
        }
    }
    background-color: #2E2E2E;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #878787;
    * {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #878787;

    }
    ul {
        list-style: none;
    }
    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 83px;
        @media screen and (max-width: 599px) {
            // flex-direction: column;
            margin-bottom: 10px;
        }
        &-left {
            display: flex;
            flex-direction: column;
        }
        &-col {
            margin-left: 102px;
            @media screen and (max-width: 768px) {
                margin-left: 0;
                margin-right: 20px;
            }
            @media screen and (max-width: 425px) {
                // margin-top: 30px;
                margin-right: 0;
            }

        }
        &-right {
            display: flex;
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
            @media screen and (max-width: 425px) {
                margin-right: 30px;
            }
        }
    }
    .top-wrapper {
        .footer-link-top {
            @media screen and (max-width: 425px) {
                width: 100%;
                text-align: center;
                display: flex;
                margin-bottom: 10px;
                justify-content: center;
            }
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        padding: 0 15px;
        margin-bottom: 10px;
        background-color: #2E2E2E;
        margin: 0 auto;
        a {
            padding: 0 17px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-container {
            display: flex;
            justify-content: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 1px;
                width: 100vw;
                background-color: white;
            }
        }
    }
    a {
        transition: 0.2s;
    }
    a:hover {
        opacity: 0.7;
    }
    &__bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


.m-field, .m-textarea {
    &.error {
        border-color: rgb(228, 86, 86);
    }
    &.valid {
        border-color: rgb(54, 201, 54);
    }
}

.count {
    padding-top: 107px;
    padding-bottom: 118px;
    position: relative;
    @media screen and (max-width: 1023px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .m-bg-cont-1 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1; 
        width: 400px;
        @media screen and (max-width: 1300px) {
            width: 200px;
            background-position: 100% 0%;
        }
        @media screen and (max-width: 400px) {
            display: none;
        }
    }
    .m-bg-cont-2 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1; 
        width: 400px;
        @media screen and (max-width: 1300px) {
            width: 200px;
            background-position: 0% 0%;
        }
        @media screen and (max-width: 400px) {
            display: none;
        }
    }
    &__items {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__item {
        height: 250px;
        padding-right: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        flex-direction: column;
        &:last-child {
            align-items: flex-start;
            border-left: 3px solid rgba(112, 112, 112, 0.2);
            padding-left: 100px;
            padding-right: 0;
        }
        @media screen and (max-width: 1023px) {
            padding-right: 0 !important;
            padding-left: 0 !important;
            text-align: center !important;
            justify-content: center !important;
            height: auto;
            align-items: center !important;
            border-left: 0 !important;
            max-width: 300px;
            width: 100%;
            padding-bottom: 50px;
            &:last-child {
                padding-bottom: 0;
                padding-top: 50px;
                border-top: 3px solid rgba(112, 112, 112, 0.2);
            }
        }
    }
    &__title {
        font-size: 45px;
        font-weight: 500;
        line-height: 100%;
        sup {
            top: -0.4em;
        }
        @media screen and (max-width: 1199px) {
            font-size: 34px
        }
    }
    &__desc {
        font-size: 30px;
        line-height: 40px;
        margin-top: 4px;
        font-weight: 400;
        @media screen and (max-width: 1199px) {
            font-size: 26px
        }
    }
}