<div class="footer">
	<div class="footer__container">
		<div class="wrapper top-wrapper">

			<div class="footer__top">
				<ul class="footer__top-left">
					<li>
						<a href="#">Company </a>
					</li>
					<li>
						<a href="#">Services </a>
					</li>
					<li>
						<a href="#">Products </a>
					</li>
					<li>
						<a href="#">Calendar</a>
					</li>
					<li>
						<a href="#">News </a>
					</li>
					<li>
						<a href="#">Contacts </a>
					</li>
				</ul>
				<div class="footer__top-right">
					<div class="footer__top-col">
						Estonian branch  <br>
						DomGlass Ltd.  <br>
						Estonia, Tallinn <br>
						11415, Paneeli 2.
					</div>
					<div class="footer__top-col">
						Russian Federation <br>
						DomGlass Ltd. <br>
						Russia, Domodedovo <br>
						14200, Textilshikov str. <br>
						<br>
						<a class="footer-link-top" href="te:+74951184360">+7 495 118 43 60</a> <br>
						<a class="footer-link-top" href="mailto:office@domglass.eu">office@domglass.eu</a>

					</div>
				</div>
			</div>
		</div>
			
		<div class="footer__social-container">
			<div class="wrapper">

				<div class="footer__social">
					<a href="#">
						<img src='static/img/content/fb.png'>
					</a>
					<a href="#">
						<img src='static/img/content/inst.png'>
					</a>
					<a href="#">
						<img src='static/img/content/yt.png'>
					</a>
					<a href="#">
						<img src='static/img/content/tw.png'>
					</a>
				</div>
			</div>
		</div>

		<div class="wrapper">

			<div class="footer__bottom">
				<span>© 2020 DomGlass Ltd. <br> All right reserved. Privacy policy.</span>
				<div class="footer__logo">
					<img src='static/img/content/footer-logo.png'>
				</div>
			</div>

		</div>

		</div>
	</div>
</div>

{{> scripts/scripts}}