<div class="header wow fadeIn" data-wow-delay="0.2s">
	<div class="wrapper">

		<div class="header__container">
			
			<div class="header__logo wow fadeIn">
				<img src='static/img/content/logo.png'> 
			</div>
			<div class="header__mobile">
				{{Icon iconName="header-menu"}}
			</div>
			
			<div class="header__menu-overlay"></div>
			<ul class="header__menu">
				<div class="header__close">
					{{Icon iconName="header-close"}}
				</div>
				<li>
					<a class="tab scrolltop header-tab " data-id="prod" href="tab1">Services</a>
				</li>
				<li>
					<a class="tab scrolltop header-tab " data-id="prod" href="tab2">Products</a>
				</li>
				<li>
					<a href="#company" class="scrolltop-dom">Company</a>
				</li>
				<li>
					<a href="#calendar" class="scrolltop-ev">Calendar</a>
				</li>
				<li>
					<a href="#contacts" class="scrolltop-form">Contacts</a>
				</li>
			</ul>
			
		</div>
	</div>
</div>